<div class="hero-container">
  <div class="logo-container">
    <img src="assets/logo_fstt.png" alt="Left Logo" class="logo logo-left" />
    <img src="assets/logo_universite.png" alt="Right Logo" class="logo logo-right" />
  </div>
  <div class="content-wrapper">
    <header class="hero-header">
      <h1 class="hero-title">Welcome to {{ title }}</h1>
      <button class="toggle-button" (click)="toggleNav()">Toggle Navigation</button>
    </header>
    <nav [ngClass]="{ 'hidden': isNavCollapsed }" class="nav-menu">
      <a class="nav-item" routerLink="/home">Home</a>
      <a class="nav-item" routerLink="/students">Students</a>
      <a class="nav-item" routerLink="/absences">Absences</a>
    </nav>
    <div class="dynamic-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
