<div class="container">
  <div class="form-container">
    <h1 class="form-title">Add Absence</h1>
    <form (ngSubmit)="addAbsence()">
      <!-- Reason Input -->
      <div class="form-group">
        <input
          class="form-input"
          [(ngModel)]="absence.reason"
          name="reason"
          placeholder="Reason"
          required
        />
      </div>

      <!-- Date Picker Input -->
      <div class="form-group">
        <input
          type="date"
          class="form-input"
          [(ngModel)]="absence.date"
          name="date"
          required
        />
      </div>

      <!-- Student ID Input -->
      <div class="form-group">
        <input
          class="form-input"
          [(ngModel)]="absence.student_id"
          name="student_id"
          placeholder="Student ID"
          required
        />
      </div>

      <!-- Submit Button -->
      <button class="btn-submit" type="submit">Save</button>
    </form>
  </div>
</div>
